# Configuration file

debug {
    # Adds additional info to the console [default: false]
    B:Missile_Manager=false
}


entityids {
    # Internal mod entity ID to use [range: 0 ~ 1000, default: 55]
    I:fragments=55

    # Internal mod entity ID to use [range: 0 ~ 1000, default: 57]
    I:g_cow=57

    # Internal mod entity ID to use [range: 0 ~ 1000, default: 53]
    I:missile=53

    # Internal mod entity ID to use [range: 0 ~ 1000, default: 55]
    I:missile_cart=55

    # Internal mod entity ID to use [range: 0 ~ 1000, default: 56]
    I:slime=56
}


extra {
    # Enables a recipe of sulfur, saltpeter, and charcoal to make gunpowder [default: true]
    B:Charcoal_dust_gunpowder_recipe=true

    # Enables a recipe of sulfur, saltpeter, and charcoal to make gunpowder [default: true]
    B:Charcoal_gunpowder_recipe=true

    # Enables a dust recipe of sulfur, saltpeter, and coal to make gunpowder [default: true]
    B:Coal_dust_gunpowder_recipe=true

    # Enables a cheaper/easier tnt recipe using gunpowder surrounding a redstone dust. This recipe is designed to make it easier to craft tnt without mining a lot of material. [default: true]
    B:Redstone_TNT_recipe=true
}


general {
    # Allows antimatter to break blocks that are unbreakable, bedrock for example. [default: true]
    B:Antimatter_Destroy_Unbreakable=true
}


legacy {
    # Only enable this if there are issues loading older worlds containing entities from this mod. [default: false]
    B:registerEntitiesGlobally=false
}


volume {
    # How loud the gun firing is for the AMS turret [range: 0.0 ~ 4.0, default: 1.0]
    S:ams_gun=1.0

    # How loud the rotation audio is for the AMS turret [range: 0.0 ~ 1.0, default: 1.0]
    S:ams_rotation=1.0

    # How loud the missile engine is while running [range: 0.0 ~ 1.0, default: 1.0]
    S:missile_engine=1.0

    # How loud the missile is when fired from launchers [range: 0.0 ~ 1.0, default: 1.0]
    S:missile_firing=1.0
}


